.login button {
  border: none;
  background-color: tomato;
  color: white;
  padding: 10px 25px;
  border-radius: 10px;
}
.login {
  max-width: 400px;
  max-height: 300px;
  background-color: rgb(118, 122, 128);
  padding: 5rem 2rem;
  text-align: center;
  margin-top: 5rem;
}
